:root {
  --primary: #2c64e3;
  --white: #fff;
  --gray-one: #f3f3f3;
  --gray-two: #858585;
  --secondary: #171717;
  --light-green: #c5d9f7;
}

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: "Gilroy-light";
  src: url(./assets/fonts/Gilroy-Light.otf);
}

html,
body,
*::after,
*::before,
p,
div,
nav,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
}

/* Utility classes START */
.hidden {
  display: none;
}
.no-scroll {
  overflow-y: hidden;
}
.menu-open > span {
  transform: rotate(45deg);
}
.menu-open > span::after {
  transform: rotate(-90deg) !important;
  margin-top: 0 !important;
}
.w-6 {
  width: 2rem;
}
.h-6 {
  height: 1.4rem;
}

.level {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 3rem;
}
.pill {
  text-align: center;
  padding: 0.8em;
  max-width: 150px;
  width: 40%;
  margin: auto;
  border-radius: 80px;
  background: var(--gray-one);
  font-weight: bold;
}

.level-two {
  background-color: var(--white);
  position: absolute;
  margin: 0;
  padding-inline: 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  list-style: none;
  font-size: 50%;
  animation: slide-in-left 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.level-two li {
  display: flex;
  justify-content: space-between;
}
.level-two li:not(:first-child) {
  margin-top: 3rem;
}
.level-three {
  background-color: var(--white);
  position: absolute;
  inset: 0 0 0 0;
  padding-inline: 1.5rem;
  min-height: 100vh;
  animation: slide-in-left 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.title-item {
  color: var(--gray-two);
  cursor: default;
}

p.title-item {
  max-width: 200px;
  font-size: 80%;
  line-height: 150%;
}
.invert-light-green {
  background: var(--light-green) !important;
  color: var(--secondary) !important;
}
.invert-primary {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--gray-two);
  box-shadow: inset 0 0 rgb(235, 235, 235);
}
::-webkit-scrollbar-track {
  background: var(--gray-one);
}
.nav-hide {
  transform: translateY(-999%);
}

/* Utility classes END */

/* Keyframes animation */
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(80%);
    visibility: hidden;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes ease-slide-in {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit {
  0% {
    -webkit-transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 10));
  }
}
/* Keyframes animation END */

div[role="banner"] {
  position: fixed;
  bottom: 0;
  background-color: var(--primary);
  color: var(--white);

  padding: 2rem;
  font: 1.1rem "Gilroy-light", sans-serif;
  font-weight: bold;
  line-height: 1.8rem;

  border-radius: 25px;
  margin: 1rem;
  z-index: 2;
  transition: color 500ms;
}
div[role="banner"]:hover .banner-text {
  color: var(--white);
}

div[role="banner"] a {
  text-decoration: none;
}

.banner-text {
  color: #d1d1d1;
}
.banner-text > u {
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  font-family: "Gilroy-light", sans-serif;
}

#logo img {
  margin-top: 1.2rem;
  max-width: 100%;
  width: 80px;
}
.menu-icon {
  width: min(10%, 40px);
  background: none;
  outline: 0;
  border: 0;
  padding: 0.6rem;
  cursor: pointer;
  z-index: 99;
}
.menu-icon > span {
  position: relative;
  width: 100%;
  text-align: center;
  height: 2px;
  background: var(--secondary);
  display: inline-block;
  transition: all 300ms ease-in-out;
}
.menu-icon > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--secondary);
  margin-top: 10px;

  top: 20%;
  left: 0;
  transition: all 300ms ease-in-out;
}

.nav-list--mobile {
  position: absolute;
  inset: 0 0 0 0;
  height: 100%;
  font-size: 2rem;
  background: var(--white);
  z-index: 2;
  margin: 0;

  list-style: none;
}

.back {
  font-size: 3.5rem;
  font-family: "Gilroy-light", sans-serif;
  border: 0;
  background-color: var(--white);
  cursor: pointer;
  margin-top: 10px;
  z-index: 99;
  padding: 0;
  margin-left: -3%;
}
.back svg {
  width: 2.5rem;
}

.close {
  float: right;
  font-size: 3.5rem;
  font-family: "Gilroy-light", sans-serif;
  border: 0;
  background-color: var(--white);
  cursor: pointer;
  padding-inline: 1rem;
  margin-top: 10px;
  z-index: 99;
}

#first {
  margin-top: 8rem;
}
.auth {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.auth button {
  font-family: "Gilroy", sans-serif;
  margin: 0.6em 0;
  border-radius: 25px;
  font-size: 0.8em;
  height: 60px;
  outline: 0;
  background: var(--primary);
  border: 0;
  color: var(--white);
  cursor: pointer;
}

.auth button:last-child {
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--gray-two);
}

.card {
  border-radius: 40px;
  background: var(--secondary);
  color: var(--white);
  position: relative;
  min-width: 100%;
  font-size: 120%;
}
.card:not(.chat) {
  padding: 2rem;
}

.card > p {
  color: var(--gray-two);
}
.card > :is(h2, p) + div {
  margin: 1.2rem 0;
  display: flex;
  cursor: pointer;
}
.card > :is(h2, p) + div:hover {
  opacity: 80%;
  transition: opacity 100ms ease-in-out;
}
.card > :is(p, h2) + div p {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.chat {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 3%;
  top: 5%;
  background: var(--white);
  color: var(--secondary);
  border-radius: 50%;
  text-align: center;
}
.chat svg {
  height: 60px;
  aspect-ratio: 1;
}
.level-three .card {
  background: var(--primary);
}

.level-three .card h2 {
  max-width: min(100%, 300px);
}

.hero {
  height: 70vh;
  text-align: center;
  font-family: "Gilroy-light", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
  margin-top: 2em;
}

.hero h1 {
  font-size: 3em;
  max-width: 80%;
  margin: 0 auto;
}
.hero p {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
  color: var(--gray-two);
  font-weight: bold;
  line-height: 150%;
}

.email_cta form {
  border: 1px solid #dadada;
  border-radius: 50px;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  padding: 0.4em;
}

.email_cta form input {
  outline: 0;
  border: 0;
  border-radius: 50px;
  width: 100%;
  padding: 1em;
}
.email_cta input::-webkit-input-placeholder {
  font-size: 1.5em;
}
.email_cta form:focus-within {
  outline: 3px solid #88acff;
}

.email_cta button {
  width: 60%;
  border-radius: 50px;
  border: 0;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  font-family: "Gilroy-light", sans-serif;
  font-size: 120%;
  text-wrap: nowrap;
  cursor: pointer;
}

.email_cta button:hover {
  opacity: 80%;
}

.workflow {
  position: relative;
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4em;
  padding-inline: 1.2rem;
}
.arrow {
  position: absolute;
}
.workflow-img > img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 25px;
  object-fit: cover;
  flex: 1 0 auto;
}

.workflow-img:nth-child(2n + 1) {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}
.workflow-img:first-child {
  grid-column: 1 / 2;
  grid-row: 1;
}
.workflow-img:last-child {
  grid-column: 1;
  grid-row: 2 / 2;
  margin-top: -55%;
}
.arrow-one {
  left: 37vw;
  top: 10%;
}
.arrow-two {
  top: auto;
  bottom: 0;
  right: 26.27vw;
  transform: rotateX(360deg) rotateY(180deg);
}

.portfolio {
  margin-block: 4rem;
  font-family: "Gilroy-light", sans-serif;
  text-align: center;
}

.portfolio h2 {
  color: var(--gray-two);
  font-size: 120%;
}

.portfolio .carousel {
  overflow: hidden;
  position: relative;
  margin: auto;
}
.slide-track {
  width: calc(200px * 20);
  display: flex;
  align-items: center;
  animation: scroll 30s linear infinite;
}
.slide {
  max-width: 100%;
  margin: 0 50px;
  opacity: 80%;
  transition: 500ms;
  transform: translateX(100%);
}
.slide:hover {
  opacity: 1;
}

.products {
  padding-inline: 1rem;
  font-family: "Gilroy-light", sans-serif;
}

.products > h2 {
  text-align: center;
  font-size: 50px;
}

.products-card {
  margin-bottom: 1em;
  border-radius: 40px;
  padding: 1em;
  background: var(--gray-one);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-section {
  margin-bottom: 1rem;
}
.products-card:nth-child(2n) {
  background: var(--primary);
  color: var(--white);
}
.products-card:nth-child(2n) p {
  color: var(--white);
}
.products-card:nth-child(2n) .list-display p {
  color: var(--secondary);
}
.products-card:last-child {
  background: var(--light-green);
}
.products-card .logo {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 3%;
  top: 5%;
  background: var(--white);
  color: var(--secondary);
  border-radius: 50%;
  text-align: center;
}
.products-card .logo svg {
  height: 60px;
  aspect-ratio: 1;
}
.products-card h3 {
  font-size: 2em;
  max-width: 300px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.products-card > p {
  /* max-width: 80%; */
  color: var(--gray-two);
}
.list-display-container {
  background: var(--white);
  border-radius: 25px;
  margin-top: 1rem;
}
.list-display {
  padding: 1em;
  height: 5rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.list-display svg {
  width: 2rem;
}
.list-display p {
  font-weight: bold;
  margin-left: 1em;
  font-size: 150%;
}
.list-display p + svg {
  margin-left: auto;
  width: 1.5rem;
}
.pill-dark {
  background-color: #2f2f2f;
  color: var(--white);
}
.final-cta {
  background-color: var(--secondary);
  color: var(--white);
  font-family: "Gilroy-light", sans-serif;
  padding-inline: 0.6em;
  padding-top: 4em;
}
.final-cta h2 {
  font-size: 300%;
  max-width: 80%;
  text-align: center;
  margin: 1em auto;
}
.final-cta > div {
  padding: 2em;
  border-top: 1px solid var(--gray-two);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-info {
  text-align: center;
  margin-block: 1rem;
}
.number {
  font-size: 5em;
  font-weight: bold;
}
.caption {
  font-weight: bold;
  color: var(--gray-two);
}
.cta-info > button {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  color: var(--white);
  width: 300px;
  font-size: 1.2em;
}
.cta-info > button svg {
  width: 1.5rem;
}
.cta-info > button p:hover {
  opacity: 80%;
  transition: opacity 100ms ease-in-out;
}
.cta-info > button p {
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 0.5em;
}
.final-email-cta form {
  width: 100%;
  margin: 0;
  background-color: #2f2f2f;
  border: 1px solid #525252;
}
.final-email-cta form input {
  background-color: #2f2f2f;
}
.final-email-cta button {
  background-color: var(--white);
  color: var(--secondary);
  font-weight: bold;
}

footer {
  height: auto;
  margin-top: auto;
  padding-top: 3rem;
  padding-inline: 1.5rem;
  font-family: "Gilroy-light", sans-serif;
  font-size: 90%;
  font-weight: bold;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
}
.footer-main > * {
  flex: 0 1 50%;
  margin-top: 2rem;
}
.footer-main ul {
  list-style: none;
  padding: 0;
}
.footer-main ul li {
  margin: 1.2em 0;
  text-transform: capitalize;
}
.footer-main ul li a {
  text-decoration: none;
  color: var(--secondary);
}
.footer-title {
  color: #8b8b8b;
  font-size: 80%;
}
.extras p.footer-title {
  visibility: hidden;
}

footer .footer-logo {
  display: none;
}
.footer-cta {
  flex-basis: 100%;
  margin: 1em auto;
  padding-block: 2rem;
  border-top: 1px solid #ddd;
}
.footer-email-cta form {
  background-color: var(--white);
  border: 1px solid #dadada;
  margin: 0;
}
.footer-email-cta form input {
  background-color: var(--white);
}
.footer-email-cta button {
  background-color: var(--primary);
  color: var(--white);
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
.socials button {
  width: 45.99999%;
  border-radius: 50px;
  padding: 1.5em;
  outline: 0;
  border: 0;
  background-color: #f7f7f7;
  cursor: pointer;
}
.socials svg {
  width: 1.8rem;
}
.copyright {
  display: none;
}

/* Laptop breakpoints */
@media screen and (min-width: 978px) {
  .menu-icon {
    display: none;
  }
  nav {
    padding-inline: 2rem;
    position: sticky;
    top: 0;
    background-color: var(--white);

    z-index: 99;
    transition: transform 800ms;
  }
  nav::before {
    content: "";
    inset: 0 0 0 0;
    position: absolute;
    min-height: 100vh;
    display: none;
    background-color: var(--gray-one);
    z-index: -1;
    opacity: 0.8;
  }
  nav:has(.nav-list--desktop li:not(:last-child):hover)::before {
    display: inline-block;
  }
  #logo {
    flex-basis: 10%;
  }
  #logo img {
    margin: 0;
    max-width: 100%;
  }
  .nav-list--desktop {
    display: flex;
    flex-basis: 90%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 0.8rem;
  }
  .nav-list--desktop li {
    padding: 1em 1.8em;
    border-radius: 50px;
    position: relative;
  }
  .nav-list--desktop li:not(:last-child):hover {
    background-color: var(--white);
  }
  .nav-list--desktop li:not(:last-child):hover .dropdown-content {
    display: block;
  }
  .nav-list--desktop li a {
    text-decoration: none;
    color: var(--secondary);
    cursor: default;
  }

  .dropdown-content {
    position: absolute;
    left: -30%;
    display: none;
    padding: 1.2rem 1rem;
  }
  .dropdown-inner {
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    padding: 1rem 0.6rem;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 2px #f1f1f1);
  }
  .dropdown-inner .list-display {
    padding: 1em 0.6em;
    height: auto;
    border-radius: 8px;
    text-wrap: nowrap;
  }
  .drop-level-one {
    margin-right: 2em;
  }
  .drop-level-one .list-display:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  .drop-level-one .list-display:hover {
    background-color: var(--gray-one) !important;
  }
  .drop-level-one .list-display:focus {
    background-color: var(--gray-one) !important;
  }
  .drop-level-one .list-display > p {
    text-wrap: nowrap;
    font-size: 0.8rem;
    font-weight: lighter;
  }
  .drop-level-one .list-display svg {
    width: 1.5rem;
    stroke: var(--gray-two);
  }
  .drop-level-one .list-display svg:last-child {
    width: 1rem;
  }

  .drop-level-two-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .drop-card {
    min-width: 225px;
    width: 100%;
    height: 50vh;
    background: var(--gray-one);
    border-radius: 15px;
    padding: 1em;
  }
  .drop-card:nth-child(2n) {
    background: var(--primary) !important;
  }
  .drop-card:nth-child(2n + 2) {
    background: var(--gray-one) !important;
  }
  .drop-card > svg {
    width: 1.5rem;
    background: var(--white);
    padding: 0.8em;
    border-radius: 50px;
  }
  .drop-card h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    max-width: 80%;
    text-transform: capitalize;
  }
  .drop-card button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0.3em;
    background: transparent;
    border: 0;
    outline: 0;
    text-decoration: underline;
  }
  .drop-card button svg {
    width: 0.8rem;
  }
  .drop-information {
    min-width: 200px;
    width: 100%;
    padding-inline: 1rem;
  }
  .information-card p {
    color: var(--gray-two);
  }
  .drop-card-container .drop-card {
    background: var(--secondary);
    color: white;
  }
  .drop-card-container .drop-card button {
    margin-top: 1rem;
    color: var(--white);
    cursor: pointer;
  }
  .drop-card-container .drop-card button:hover {
    opacity: 0.8;
  }
  .customer-level-two {
    padding-left: 1.5rem;
    padding-right: 3rem;
  }
  .customer-level-two .title-item {
    margin-bottom: 1rem;
  }
  .drop-level-two .list-display {
    height: auto;
    border-radius: 8px;
    text-wrap: nowrap;
    padding-left: 0;
  }
  .drop-level-two .list-display p {
    font-size: 0.9rem;
  }
  .drop-level-two .list-display svg {
    width: 1rem;
  }
  .drop-level-two .list-display p + svg {
    opacity: 0;
  }

  .drop-level-two .list-display:hover {
    background: var(--gray-one) !important;
  }
  .drop-level-two .list-display:hover p + svg {
    animation: ease-slide-in 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  .drop-level-two .list-display:not(:last-child) {
    margin-bottom: 0.3rem;
  }
  .platform-inner .title-item {
    margin-left: 1rem;
  }
  .platform-inner .list-display {
    padding: 0.6em 1em;
    margin-block: 0.5rem;
    width: 80%;
    justify-content: space-evenly;
  }
  .platform-inner .list-display a + svg {
    opacity: 0;
    width: 0.8rem;
    margin-left: auto;
  }
  .platform-inner .list-display:hover {
    background: var(--gray-one) !important;
  }
  .platform-inner .list-display:hover a + svg {
    animation: ease-slide-in 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  .auth-buttons--desktop {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  .auth-buttons--desktop > * {
    margin-left: 1rem;
    padding: 0.5em 1.2em;
    text-wrap: nowrap;
    border-radius: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: "Gilroy-light", sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  .auth-buttons--desktop button:last-child {
    border: 1px solid #171717;
  }
  .hero {
    max-width: 70vw;
    margin: 0 auto;
  }
  .hero h1 {
    font-size: 4em;
  }
  .email_cta form {
    max-width: 50%;
    height: 50%;
  }
  .email_cta input::-webkit-input-placeholder {
    font-size: 1em;
  }
  .email_cta button {
    font-size: 1rem;
  }
  .email_cta button svg {
    width: 1rem;
  }
  .workflow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .workflow-img {
    margin: 0 0.6rem;
    justify-content: space-around;
  }
  .workflow-img > img {
    width: calc(400px * 0.6);
  }
  .workflow-img:last-child {
    margin-top: 20% !important;
  }
  .arrow-one img {
    width: 150%;
  }
  .arrow-two img {
    width: 25%;
  }
  .arrow {
    left: 28vw;
  }

  .arrow-two {
    top: 0;
    bottom: 100%;
    transform: rotate(0) translateY(30deg);
  }
  .portfolio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: 4rem;
  }
  .portfolio h2 {
    width: 70%;
    font-size: 1rem;
  }
  .portfolio .carousel {
    display: flex;
  }
  .portfolio .carousel::before {
    content: "";
    display: inline-block;
    padding: 1em;
    width: 25%;
    opacity: 0.8;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 6;
  }

  .products-card {
    max-width: calc(100vw / 3.5);
  }
  .products-card h3 {
    width: 11ch;
  }
  .final-email-cta form {
    width: 60%;
  }
  footer {
    display: flex;
    justify-content: space-around;
    font-size: 90%;
    padding: 6rem;
  }
  footer .footer-logo {
    display: block;
    margin-top: 2rem;
  }
  .footer-main {
    margin-left: 5rem;
  }
  .footer-main > * {
    flex: 0 1 auto;
    margin-left: 5rem;
  }
  .footer-cta {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-email-cta form {
    max-width: 100%;
  }
  .socials button {
    padding: 0.7rem 1.2rem;
    margin-block: 3rem;
  }
  .socials svg {
    width: 1.2rem;
  }
}

@media screen and (min-width: 1270px) {
  nav {
    padding-inline: 3rem;
  }
  .nav-list--desktop {
    font-size: 0.9rem;
  }
  #logo {
    margin-left: 1rem;
  }
  .email_cta form {
    max-width: 40%;
    padding: 0.7em;
  }
  .workflow-img > img {
    width: calc(400px * 0.8);
  }
  .auth-buttons--desktop > * {
    padding: 1em;
    font-size: 0.9rem;
  }
  .footer-email-cta form {
    max-width: 100%;
  }
}

/* Tab breakpoint or mobile landscape mode */
@media screen and (min-width: 576px) and (max-width: 978px),
  (orientation: landscape) {
  div[role="banner"] {
    position: static;
    border-radius: 0;
    padding: 0.8rem;
    margin: 0;
    text-align: center;
    font-size: 85%;
  }
  .workflow-img:last-child {
    margin-top: -30%;
  }
  .products-container {
    display: flex;
    justify-content: space-around;
    font-size: 80%;
    width: clamp(20vw, 60vw, 1625px);
    margin: 4rem auto;
  }
  .products-card {
    max-width: 28.5vw;
    border-radius: 20px;
    margin: 0.5em;
  }
  .products-card:nth-child(2n),
  .products-card:last-child {
    background: var(--gray-one);
    color: var(--secondary);
  }
  .products-card:nth-child(2n) p {
    color: var(--gray-two);
  }
  .products-card:hover {
    background: var(--primary);
    color: var(--white);
    transition: 0.3s;
  }
  .products-card:hover > p {
    color: var(--white);
  }
  .list-display p {
    color: var(--secondary);
    font-size: 1rem;
  }
  .list-display svg {
    width: 1rem;
  }
  .products-card > h3 {
    font-size: 1.5rem;
  }
  .products-card .logo {
    position: static;
    width: 3rem;
    height: 3rem;
  }
  .products-card .logo svg {
    height: 3rem;
  }
  .copyright {
    display: block;
    text-wrap: nowrap;
    margin-right: 2rem;
  }
}
