:root {
  --primary: #2c64e3;
  --white: #fff;
  --gray-one: #f3f3f3;
  --gray-two: #858585;
  --secondary: #171717;
  --light-green: #c5d9f7;
}

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: "Gilroy-light";
  src: url(./assets/fonts/Gilroy-Light.otf);
}

html,
body,
*::after,
*::before,
p,
div,
nav,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
}

/* Utility classes START */
.hidden {
  display: none;
}
.no-scroll {
  overflow-y: hidden;
}
.menu-open > span {
  transform: rotate(45deg);
}
.menu-open > span::after {
  transform: rotate(-90deg) !important;
  margin-top: 0 !important;
}
.w-6 {
  width: 2rem;
}
.h-6 {
  height: 1.4rem;
}

.level {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 3rem;
}
.pill {
  text-align: center;
  padding: 0.8em;
  width: 40%;
  margin: auto;
  border-radius: 80px;
  background: var(--gray-one);
  font-weight: bold;
}

.level-two {
  background-color: var(--white);
  position: absolute;
  margin: 0;
  padding-inline: 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  list-style: none;
  font-size: 50%;
  animation: slide-in-left 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.level-two li {
  display: flex;
  justify-content: space-between;
}
.level-two li:not(:first-child) {
  margin-top: 3rem;
}
.level-three {
  background-color: var(--white);
  position: absolute;
  inset: 0 0 0 0;
  padding-inline: 1.5rem;
  min-height: 100vh;
  animation: slide-in-left 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.title-item {
  color: var(--gray-two);
  cursor: default;
}

p.title-item {
  max-width: 200px;
  font-size: 80%;
  line-height: 150%;
}
.invert-light-green {
  background: var(--light-green) !important;
  color: var(--secondary) !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--gray-two);
  box-shadow: inset 0 0 rgb(235, 235, 235);
}
::-webkit-scrollbar-track {
  background: var(--gray-one);
}

/* Utility classes END */

/* Keyframes animation */
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(80%);
    visibility: hidden;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    -webkit-transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }
}

/* Keyframes animation END */

div[role="banner"] {
  position: fixed;
  bottom: 0;
  background-color: var(--primary);
  color: var(--white);

  padding: 2rem;
  font: 1.1rem "Gilroy-light", sans-serif;
  font-weight: bold;
  line-height: 1.8rem;

  border-radius: 25px;
  margin: 1rem;
  z-index: 2;
}

div[role="banner"] a {
  text-decoration: none;
}

.banner-text {
  color: #d1d1d1;
}
.banner-text > u {
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Gilroy-light", sans-serif;
}

#logo img {
  margin-top: 1.2rem;
  max-width: 100%;
  width: 80px;
}
.menu-icon {
  width: 10%;
  background: none;
  outline: 0;
  border: 0;
  padding: 0.6rem;
  cursor: pointer;
  z-index: 99;
}
.menu-icon > span {
  position: relative;
  width: 100%;
  text-align: center;
  height: 2px;
  background: var(--secondary);
  display: inline-block;
  transition: all 300ms ease-in-out;
}
.menu-icon > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--secondary);
  margin-top: 10px;

  top: 20%;
  left: 0;
  transition: all 300ms ease-in-out;
}

.nav-list {
  position: absolute;
  inset: 0 0 0 0;
  height: 100%;
  background: var(--white);
  z-index: 2;
  margin: 0;

  list-style: none;
}

.back {
  font-size: 3.5rem;
  font-family: "Gilroy-light", sans-serif;
  border: 0;
  background-color: var(--white);
  cursor: pointer;
  margin-top: 10px;
  z-index: 99;
  padding: 0;
  margin-left: -3%;
}
.back svg {
  width: 2.5rem;
}

.close {
  float: right;
  font-size: 3.5rem;
  font-family: "Gilroy-light", sans-serif;
  border: 0;
  background-color: var(--white);
  cursor: pointer;
  padding-inline: 1rem;
  margin-top: 10px;
  z-index: 99;
}

#first {
  margin-top: 8rem;
}
.auth {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.auth button {
  font-family: "Gilroy", sans-serif;
  margin: 0.6em 0;
  border-radius: 25px;
  font-size: 0.8em;
  height: 60px;
  outline: 0;
  background: var(--primary);
  border: 0;
  color: var(--white);
  cursor: pointer;
}

.auth button:last-child {
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--gray-two);
}

.card {
  border-radius: 40px;
  background: var(--secondary);
  color: var(--white);
  position: relative;
  min-width: 100%;
  font-size: 120%;
}
.card:not(.chat) {
  padding: 2rem;
}

.card > p {
  color: var(--gray-two);
}
.card > :is(h2, p) + div {
  margin: 1.2rem 0;
  display: flex;
  cursor: pointer;
}
.card > :is(h2, p) + div:hover {
  opacity: 80%;
  transition: opacity 100ms ease-in-out;
}
.card > :is(p, h2) + div p {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.chat {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 3%;
  top: 5%;
  background: var(--white);
  color: var(--secondary);
  border-radius: 50%;
  text-align: center;
}
.chat svg {
  height: 60px;
  aspect-ratio: 1;
}
.level-three .card {
  background: var(--primary);
}

.level-three .card h2 {
  max-width: min(100%, 300px);
}

.hero {
  height: 70vh;
  text-align: center;
  font-family: "Gilroy-light", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
  margin-top: 2em;
}

.hero h1 {
  font-size: 3em;
  max-width: 80%;
  margin: 0 auto;
}
.hero p {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
  color: var(--gray-two);
  font-weight: bold;
  line-height: 150%;
}

.email_cta form {
  border: 1px solid #dadada;
  border-radius: 50px;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  padding: 0.4em;
}

.email_cta form input {
  outline: 0;
  border: 0;
  border-radius: 50px;
  width: 100%;
  padding: 1em;
}
.email_cta input::-webkit-input-placeholder {
  font-size: 1.5em;
}
.email_cta form:focus-within {
  outline: 3px solid #88acff;
}

.email_cta button {
  width: 60%;
  border-radius: 50px;
  border: 0;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  font-family: "Gilroy-light", sans-serif;
  font-size: 120%;
  cursor: pointer;
}

.email_cta button:hover {
  opacity: 80%;
}

.workflow {
  position: relative;
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4em;
  padding-inline: 1.2rem;
}
.arrow {
  position: absolute;
}
.workflow-img > img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 25px;
  object-fit: cover;
  flex: 1 0 auto;
}

.workflow-img:nth-child(2n + 1) {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}
.workflow-img:first-child {
  grid-column: 1 / 2;
  grid-row: 1;
}
.workflow-img:last-child {
  grid-column: 1;
  grid-row: 2 / 2;
  margin-top: -55%;
}
.arrow-one {
  left: 37vw;
  top: 10%;
}
.arrow-two {
  top: auto;
  bottom: 0;
  right: 26.27vw;
  transform: rotateX(360deg) rotateY(180deg);
}

.portfolio {
  margin-block: 4rem;
  font-family: "Gilroy-light", sans-serif;
  text-align: center;
}

.portfolio h2 {
  color: var(--gray-two);
  font-size: 120%;
}

.portfolio .carousel {
  overflow: hidden;
  position: relative;
  margin: auto;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 10));
  }
}
.slide-track {
  width: calc(200px * 20);
  display: flex;
  align-items: center;
  animation: scroll 30s linear infinite;
}
.slide {
  max-width: 100%;
  margin: 0 50px;
  opacity: 80%;
  transition: 500ms;
  transform: translateX(100%);
}
.slide:hover {
  opacity: 1;
}

.products {
  padding-inline: 1rem;
  font-family: "Gilroy-light", sans-serif;
}

.products > h2 {
  text-align: center;
  font-size: 50px;
}

.products-card {
  margin-bottom: 1em;
  border-radius: 40px;
  padding: 1em 1.3em;
  background: var(--gray-one);
  position: relative;
}
.products-card:nth-child(2n) {
  background: var(--primary);
  color: var(--white);
}
.products-card:nth-child(2n) p {
  color: var(--white);
}
.products-card:nth-child(2n) .list-display p {
  color: var(--secondary);
}
.products-card:last-child {
  background: var(--light-green);
}
.products-card .logo {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 3%;
  top: 5%;
  background: var(--white);
  color: var(--secondary);
  border-radius: 50%;
  text-align: center;
}
.products-card .logo svg {
  height: 60px;
  aspect-ratio: 1;
}
.products-card h3 {
  font-size: 2em;
  max-width: 300px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.products-card > p {
  max-width: 80%;
  color: var(--gray-two);
}
.list-display-container {
  background: var(--white);
  border-radius: 25px;
  margin-top: 2rem;
}
.list-display {
  padding: 1em;
  height: 5rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.list-display svg {
  width: 2rem;
}
.list-display p {
  font-weight: bold;
  margin-left: 1em;
  font-size: 150%;
}
.list-display p + svg {
  margin-left: auto;
  width: 1.5rem;
}
.pill-dark {
  background-color: #2f2f2f;
  color: var(--white);
}
.final-cta {
  background-color: var(--secondary);
  color: var(--white);
  font-family: "Gilroy-light", sans-serif;
  padding-inline: 0.6em;
  padding-top: 4em;
}
.final-cta h2 {
  font-size: 300%;
  max-width: 80%;
  text-align: center;
  margin: 1em auto;
}
.final-cta > div {
  padding: 2em;
  border-top: 1px solid var(--gray-two);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-info {
  text-align: center;
  margin-block: 1rem;
}
.number {
  font-size: 5em;
  font-weight: bold;
}
.caption {
  font-weight: bold;
  color: var(--gray-two);
}
.cta-info > button {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  color: var(--white);
  width: 300px;
  font-size: 1.2em;
}
.cta-info > button svg {
  width: 1.5rem;
}
.cta-info > button p:hover {
  opacity: 80%;
  transition: opacity 100ms ease-in-out;
}
.cta-info > button p {
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 0.5em;
}
.final-email-cta form {
  width: 100%;
  margin: 0;
  background-color: #2f2f2f;
  border: 1px solid #525252;
}
.final-email-cta form input {
  background-color: #2f2f2f;
}
.final-email-cta button {
  background-color: var(--white);
  color: var(--secondary);
  font-weight: bold;
}
